@charset "UTF-8";
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}

/* Simple Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.body { /*ログイン画面以外のページ全てに適用*/
	background-color: #F0FFFF;
	margin: 0 0 0 0;
}

.wrapper {
	margin: 0 auto 0 auto;
	max-width: 960px;
	background: #fafafa;
	min-height: 100vh;
	position: relative; /*←相対位置*/
}

/*パンくずリスト*/
.ol {
	border: 1px solid #aaaaaa; /* 境界線を実線で指定する */
	background: #B0C4DE; /* 背景の色を指定する */
	text-align: left; /* インライン要素のセンタリングを指定する */
	margin: 0px auto; /* ブロックレベル要素のセンタリングを指定する */
}

.breadcrumb {
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumb li {
	display: inline; /*横に並ぶように*/
	list-style: none;
	font-weight: bold; /*太字*/
}

.breadcrumb li:after { /* ?を表示*/
	font-family: FontAwesome;
	content: '\f0da';
	padding: 0 0.2em;
	color: white;
}

.breadcrumb li:last-child:after {
	content: '';
}

.breadcrumb li a {
	text-decoration: none;
	color:	#333333;
}

.breadcrumb li:first-child a:before {
	/*家アイコン*/
	font-family: FontAwesome;
	content: '\f015';
	font-weight: normal;
	font-size: 1.1em;
	color: #354359;
}

.breadcrumb li a:hover {
	text-decoration: underline;
}

/*パンくずリストここまで*/

/*  フッターの装飾  */
.footer {
	width: 100%;
	background-color: #B0C4DE;
	color: #354359;
	text-align: center;
	padding: 30px 0;
	position: absolute; /*←絶対位置*/
	bottom: 0; /*下に固定*/
}
