@charset "UTF-8";
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}

/* Simple Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body { /*ログイン画面以外のページ全てに適用*/
	background-color: #D3D3D3;
	font-family: Quicksand, 游ゴシック体, YuGothic, 'ヒラギノ角ゴシック Pro', メイリオ, Meiryo,
		'ＭＳ Ｐゴシック', sans-serif;
	text-align: center;
	margin: 0 0 0 0;
}
/*Komikeロゴ　ページ全てに適用*/
.head {
	text-align: left;
}

/*雑談ルーム*/
.image {
	margin-top: 30px;
	margin-bottom: 12px;
}

.pic {
	float: left;
	padding: 0 1em 1em 0;
}

.honbun {
	margin-top: 30px;
	margin-bottom: 12px;
}

.label {
	vertical-align: top;
	margin-right: 5px;
}
/*Q＆Aルームの検索ボタン*/
.BT {
	line-height: 140%;
	cursor: pointer;
	font-size: 12px;
	padding: 3px;
	margin: 2px;
	color: #555555;
	background-image: linear-gradient(#FAFAFA, #CCCCCC);
	border: 1px solid #999999;
	border-width: 0px 1px 1px 0px;
	border-radius: 5px;
}

/*Q＆Aルームの検索機能*/
.search {
	width: 98%;
	margin: 10px 3px 0px 3px;
	text-align: center;
	background-color: #DDEEFF;
	border: 1px solid #999999;
	border-width: 0px 1px 1px 0px;
	border-radius: 5px;
}
.searchbotan {
	display: inline;
}
/*雑談ルームここまで*/
.wrapper {
	margin: 0 auto 0 auto;
	max-width: 1000px;
	background: white;
	min-height: 100vh;
	position: relative; /*←相対位置*/
}

/*パンくずリスト*/
.ol {
	border: 1px solid #aaaaaa; /* 境界線を実線で指定する */
	background: #B0C4DE; /* 背景の色を指定する */
	text-align: left; /* インライン要素のセンタリングを指定する */
	margin: 0px auto; /* ブロックレベル要素のセンタリングを指定する */
}

.breadcrumb {
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumb li {
	display: inline; /*横に並ぶように*/
	list-style: none;
	font-weight: bold; /*太字*/
}

.breadcrumb li:after { /* ?を表示*/
	font-family: FontAwesome;
	content: '\f0da';
	padding: 0 0.2em;
	color: white;
}

.breadcrumb li:last-child:after {
	content: '';
}

.breadcrumb li a {
	text-decoration: none;
	color: #333333;
}

.breadcrumb li:first-child a:before {
	/*家アイコン*/
	font-family: FontAwesome;
	content: '\f015';
	font-weight: normal;
	font-size: 1.1em;
	color: #354359;
}

.breadcrumb li a:hover {
	text-decoration: underline;
}

/*パンくずリストここまで*/
/*雑談ルームページネーション*/
/*.prev-page disabled {
	float: left;
}*/

/*掲示板メッセージここから*/
.items {
	text-align: left;
}

.combox {
	left: 0;
	/*line-height:1;*/
	width: 98%;
	vertical-align: middle;
	margin: 10px 5px 7px 5px;
	z-index: 10;
	background: #DDEEFF;
	color: #454545;
	border: dashed 2px white;
	box-shadow: 0px 0px 0px 5px #DDEEFF;
}

.combox2 {
	left: 0;
	line-height: 1;
	width: 98%;
	vertical-align: middle;
	margin: 10px 5px 7px 5px;
	z-index: 10;
	background: #eee8aa;
	color: #454545;
	border: dashed 2px white;
	box-shadow: 0px 0px 0px 5px #eee8aa;
}

.returnbox {
	left: 0;
	line-height: 1;
	width: 98%;
	margin: 25px 5px 10px 5px;
	z-index: 10;
	background: #E0FFD0;
	box-shadow: 0px 0px 0px 5px #E0FFD0;
	border: dashed 2px white;
	color: #454545;
}

.comdele {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	padding: 3px;
	font-size: 12px;
	margin: 0px 0px 0px 30px;
}

.passin {
	font-size: 13px;
	border-radius: 3px;
	border: 2px solid #CDCDCD;
	box-sizing: border-box;
}

.passin:focus {
	border: 2px solid #B0D0FF;
	z-index: 10;
	outline: 0;
}

.comno {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	margin: 6px 0px 0px 5px;
	padding: 3px;
	font-size: 11px;
	background-color: #E1E1E1;
	border: 1px solid #696969;
	border-width: 0px 1px 1px 0px;
	border-radius: 2px;
}

.comname {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	padding: 9px 0px 0px 0px;
	margin: 0px 0px 0px 20px;
	font-size: 11.5px;
	font-weight: bold;
	color: #696969;
}

.comtitle {
	/*float: left;*/
	display: inline-block;
	vertical-align: middle;
	padding: 6px 0px 0px 0px;
	margin: 0px 0px 0px 10px;
	font-size: 17px;
	font-weight: bold;
}

.comtime {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	padding: 9.5px 0px 0px 0px;
	margin: 0px 0px 0px 10px;
	font-size: 11px;
	color: #696969;
}
/*.category {
	float: left;
	display: inline-block;
	vertical-align: middle;
	padding:9.5px 0px 0px 0px;
	margin:0px 0px 0px 10px;
	font-size:11px;
	color: #999999;
	}*/
.comcom {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	width: 98%;
	margin: 0px 3px 10px 3px;
	padding: 3px;
	font-size: 14px;
	background-color: #FFFFFF;
	text-align: left;
	border: 1px solid #999999;
	border-width: 0px 1px 1px 0px;
	border-radius: 3px;
}
/*.comkanri {
	color:#5599EE;
	padding:3px 3px 3px 15px;
	background-color: #FFEEEE;
	}*/
.comreturn {
	/*float: left;*/
	display: inline-block;
	vertical-align: middle;
	padding: 3px;
}

.returncnt {
	/*float: left;*/
	display: inline-block;
	vertical-align: middle;
	padding: 3px;
	margin: 3px 0px 0px 3px;
	border: 1px solid #999999;
	border-width: 1px 1px 1px 1px;
	border-radius: 3px;
}

ul, ol, li {
	margin: 0;
	/*display:inline;*/
	list-style: none;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

li {
	display: inline;
}
/*  フッターの装飾  */
.footer {
	width: 100%;
	background-color: #B0C4DE;
	color: #354359;
	text-align: center;
	padding: 30px 0;
	position: absolute; /*←絶対位置*/
	bottom: 0;
}