@charset "UTF-8";


/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}

/* Simple Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*ページ全てに適用*/
.body {
	background-color: white;
	font-family: Quicksand, 游ゴシック体, YuGothic, 'ヒラギノ角ゴシック Pro', メイリオ, Meiryo,
		'ＭＳ Ｐゴシック', sans-serif;
	text-align: center;
	margin: 0 0 0 0;
}

/*Komikeロゴ　ページ全てに適用*/
.head {
	text-align: left;
}

.wrapper {
	margin: 0 auto 0 auto;
	max-width: 1000px;
	background:  white;
	min-height: 100vh;
	position: relative; /*←相対位置*/
}

/*パンくずリスト*/
.ol {
	border: 1px solid #aaaaaa; /* 境界線を実線で指定する */
	background: #B0C4DE; /* 背景の色を指定する */
	text-align: left; /* インライン要素のセンタリングを指定する */
	margin: 0px auto; /* ブロックレベル要素のセンタリングを指定する */
}

.breadcrumb {
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumb li {
	display: inline; /*横に並ぶように*/
	list-style: none;
	font-weight: bold; /*太字*/
}

.breadcrumb li:after { /* ?を表示*/
	font-family: FontAwesome;
	content: '\f0da';
	padding: 0 0.2em;
	color: white;
}

.breadcrumb li:last-child:after {
	content: '';
}

.breadcrumb li a {
	text-decoration: none;
	color:	#333333;
}

.breadcrumb li:first-child a:before {
	/*家アイコン*/
	font-family: FontAwesome;
	content: '\f015';
	font-weight: normal;
	font-size: 1.1em;
	color: #354359;
}

.breadcrumb li a:hover {
	text-decoration: underline;
}

/*パンくずリストここまで*/


/*  フッターの装飾  */
.footer {
	width: 100%;
	background-color: #B0C4DE;
	color: #354359;
	text-align: center;
	padding: 30px 0;
	position: absolute; /*←絶対位置*/

}


*{
	color:	#333333;
}

/*選択,テスト画面*/
.select {
	margin-left: auto;
    margin-right: auto;
	padding:50px;

}
/*結果画面表*/

.result{
	margin-left: auto;
    margin-right: auto;
	padding:50px;
}

.result th {
	 padding : 20px 10px;/*セルの幅*/
	 border:double 1px #aaaaaa;
}

.result td {
	 padding : 20px 10px;
	 border:double 1px #aaaaaa;
}

.result th{
  color:white; /*文字色*/
  background-color: #B0C4DE; /*背景色*/
}

.result {
    border-collapse:  collapse;     /* セルの線を重ねる */
}
/*ジャンル選択*/
a:link {

}

a:hover{
	color: #4682b4;
}
a:active{
	color: #B0C4DE;
}



/*ボタン*/
a.bt-samp44{
  display: block;
  position: relative;
  text-decoration: none;
  height:100px;
  width: 150px;
  line-height: 100px;
  text-align: center;
  color: #B0C4DE;
  border: solid 1px #B0C4DE;
  border-radius: 10%;
  overflow: hidden;
  z-index: 1;
}
a.bt-samp44:after{
  content:"";
  position: absolute;
  top: -100%;
  left: -100%;
  background : #B0C4DE;
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}
a.bt-samp44:hover{
  color: black;
}
a.bt-samp44:hover:after{
  top: 0;
  left: 0;
  height:100px;
  width: 150px;
  border-radius: 10%;
  opacity: 1;
}/*ここまで*/





/*テスト画面*/
/* 上に戻るボタン */
.pagetop {
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	width: 3.3rem;
	height: 3.3rem;
	line-height: 3.3rem;
	border-radius: 3.3rem;
	text-align: center;
	cursor: pointer;
}

.pagetop:hover {
	color: #fff !important;
	background-color: #45647f;
	text-decoration: none;
}